<div class="aside bg-dark">
  <div class="col-12">
    <h1>Menu</h1>
    <hr />
  </div>
  <div class="col-12 p-4">
    <ul class="list-group">
      <li
        class="list-group-item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="countries/by-capital"
      >
        Por capital
      </li>
      <li
        class="list-group-item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="countries/by-country"
      >
        Por pais
      </li>
      <li
        class="list-group-item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="countries/by-region"
      >
        Por region
      </li>
    </ul>
  </div>
</div>
