<div *ngIf="countries.length === 0; else table">
    No hay países que mostrar.
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col text-center">Flag</th>
        <th scope="col text-center">Name</th>
        <th scope="col text-center">Population</th>
        <th scope="col text-center">Region</th>
        <th scope="col text-center">Capital</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries">
        <td class="">
          {{ country.flag }}
        </td>
        <td class="">{{ country.name.common }}</td>
        <td class="">{{ country.population | number }}</td>
        <td class="">{{ country.region }}</td>
        <td class="">{{ country.capital[0] }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
